@charset "utf-8";

/* 레이아웃 */
#wrap {}
#header { height: 50px;border-bottom:2px solid black}
#contents {}
#footer {width: 100%;height: 200px; box-shadow: 0 0 0 3px #000 inset; text-align: center;}

/* 컨텐츠 레이아웃 */
#cont_map {height: 850px;}
#cont_instruction {width: 100%;height: 200px;}
#cont_popular {width: 100%;height: 500px;}
#cont_public {width: 100%;}


/*컨테이너*/
.container{width: 1200px; margin: 0 auto; height: inherit;}

/*헤더*/
#header {position: sticky; top: 0; background: #fff; z-index: 2;}
.header {display: flex; justify-content: space-between; align-items: center; padding: 8px 12px;}
.header .header_logo {font-size: 25px;}
.header .header_logo i {}
.header .header_select {font-size: 25px; display: flex;}
.header .header_menu {width: 148px; text-align: right;}
.header .header_menu a {}

/* 지도 */

#gmap {height: 100%; width: 50%; float: left;}

/*인기 여행지*/
.cont_popular {position: relative; padding: 20px 0 20px;}
.cont_popular .title {text-align: center;  /*box-shadow: 0 0 0 2px #00f inset;*/}
.cont_popular .title h2 {padding: 10px 0;}
.cont_popular .popular_list {position: relative; padding: 24px 0 24px; /*box-shadow: 0 0 0 2px #00f inset;*/}
.cont_popular .popular_list .area_li {width: 330px; height: 330px; box-shadow: 0 0 0 3px #000000 inset; margin: 35px;}
.cont_popular .prev_arrow {position: absolute; left: -50px; top: 50%; transform: translate(0%, 0%);  font-size: 43px; text-align: center;}
.cont_popular .next_arrow {position: absolute; right: -50px; top: 50%; transform: translate(0%, 0%);  font-size: 43px; text-align: center;}
.cont_popular .popular_list .slick-slide {margin: 10px;}
.cont_popular .popular_list .slick-dots {position: absolute; bottom: 0px; display: block; width: 100%; text-align: center;}
.cont_popular .popular_list .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px;}
.cont_popular .popular_list .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; cursor: pointer; background: #969696; border-radius: 50%;}
.cont_popular .popular_list .slick-dots li.slick-active button {background: #505050;}

/*다른 사람의 일정 목록*/
.cont_public {padding: 20px 0 20px; }
.cont_public .cont_public_title {text-align: center; position: relative; box-shadow: 0 0 0 2px #00f inset;}
.cont_public .cont_public_title h2 {padding: 10px 0;}
.cont_public .cont_public_title #go_public_plan_list {position: absolute; right: 0px; top: 50%; transform: translate(-25%, -50%);}

.cont_public ul {text-align: center; display: flex; flex-wrap: wrap;}
.cont_public ul >li {display: flex; width: 330px; height: 190px; box-shadow: 0 0 0 3px #fff inset; margin: 35px; box-shadow: 0 0 0 2px #00f inset;}
.cont_public ul li img {width: 165px; height: 190px; box-shadow: 0 0 0 3px #000 inset;}
.cont_public ul li .plan_info { width: 165px; height: 190px; box-shadow: 0 0 0 3px #000 inset;}
.cont_public button {width: 100%;}
.cont_public #second_pop {display: none;}

.cont_public #des_li .des {display: none;}

/*이용 안내*/
.cont_instruction {text-align: center;}
.cont_instruction .instruction {width: 300px; height: 200px; float: left; position: relative;}
.cont_instruction .instruction .step {width: 300px; float: left; position: absolute; bottom: 50%; font-size: 25px; font-weight: bold;}
.cont_instruction .instruction .how_to {width: 300px; height: 100px; float: left; position: absolute; bottom: 0px;}

/*푸터*/

/*카카오맵*/
.map_wrap {position:relative;width:50%;height:850px;  float: left}
#kmap {width: 100%; height: 100%;;position:relative;overflow:hidden;}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
